body,
form,
ul,
ol,
dl,
dd,
p {
    margin: 0;
}

body {
    font: 14px/1.42858 arial, sans-serif;
}

form {
    width: 400px;
    margin: 30px auto;
}

select {
    width: 120px;
}

.left {
    width: 100px;
    float: left;
}

.cell {
    display: table-cell;
    width: 2000px;
}

.clearfix {
    clear: both;
    margin-top: 15px;
}

.red {
    color: #f4615c;
}

.abs {
    position: absolute;
}

.pay {
    padding: 5px 0 5px 100px;
    margin: 20px 0;
    background-color: #EDF3F5;
    font-size: 16px;
    font-weight: bold;
}

.ml20 {
    margin-left: 20px;
}
