/** {
	margin: 0;
	padding: 0;
}*/

body {
	background: #ccc;
}

header {
	background: black;
	height: 6em;
}

header img {
	height: 6em;
	margin-left: 2em;
}

header nav {
	position: absolute;
	right: 2em;
	top: 0;
}

header ul li {
	text-align: center;
	width: 6em;
	float: left;
	display: block;
	padding: 2.5em 0;

} 

header li a {
	text-decoration: none;
	color: white;
}

article {
	margin: 2em;
	background: white;
	padding: 1em;
}

article h2,h3 {
	padding: 0.5em 0;
}

article h2 {
	padding-top: 1em;
}

article .author-time {
	color: #ccc;
	font-size: 0.5em;
	line-height: 2em;
}

article p {
	text-indent: 2em;
}

article img {
	margin: 1em 1em 1em 0;
}

article ul {
	margin-left: 1em;
}

article ul li {
	display: block;
}

.picture li {
	display: block;
	border: 1px solid #CCC;
	margin-bottom: 1em;
	width: 15em;
	padding: 1em;
}



.picture li p {
	text-align: center;
	text-indent: 0;
}

.picture li img {
	width: 14em;
	margin: 0.5em;
}

article ol {
	margin: 1em;
	padding-left: 1em;
}

/*字体会影响数字和中文字的对齐，这里使用了Courier字体来对齐*/
article ol li {
	margin-left: 1em;
	font-weight: 600;
	line-height: 1em;
	font-family: Courier;
}

table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	line-height: 1.6em;
	font-size: 0.8em;
}

table tr th {
	border: 1px solid #ccc;
	background: black;
	
	color: white;
	text-align: left;
}

table tr td {
	border: 1px solid #ccc;
	width: 33%;
}

table tfoot {
	background: #ccc;
}

aside {
	margin: 2em;
	background: white;
	padding: 1em;
	width: 640px;
    margin: 0 auto;
}

aside h3 {
	display: block;
	border-left: 3px solid #ccc;
	padding-left: 0.5em;
}

aside div.tip p {
	display: inline-block;
    width: 160px;
    text-align: right;
    margin-right: 20px;
    vertical-align: top;
}

aside .inp {
	
	
	display: block;
}

